@using static Models.Constants.ApplicationConstants;

@{
    Layout = "_Layout";
}


<div ng-controller="boardCtrl" class="container">

    <div class="page-header">
        <h3> @ApplicationName </h3>
        <p> Idea foundry for the future. Share you side project, get noticed! </p>
    </div>

    <div class="margin-bottom">
        <form class="form-inline">
            <div class="form-group">
                <label for="sort">SortBy:</label>
                <select id="sort" class="form-control"
                        ng-change="refresh()"
                        ng-model="query.sort"
                        ng-options="item for item in ['Date', 'Vote']">
                </select>
            </div>
            <div class="form-group">
                <label for="order">Order:</label>
                <select id="order" class="form-control"
                        ng-change="refresh()"
                        ng-model="query.order"
                        ng-options="item for item in ['Descending', 'Ascending']">
                </select>
            </div>
            <div class="form-group">
                <label for="order">Categories:</label>
                <select id="category" class="form-control"
                        ng-change="refresh()"
                        ng-model="query.category"
                        ng-options="item for item in categories">
                </select>
            </div>
            <div class="form-group">
                <label for="order">Keyword:</label>
                <input type="text" class="form-control" id="keyword" maxlength="10" ng-model="query.keyword" ng-change="refresh()"/>
            </div>
        </form>
    </div>

    <div class="panel panel-default" ng-repeat="project in projects">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-9">
                    <h4>
                        <a href="/project/{{project.id}}">
                            <strong>
                                {{project.title}}
                            </strong>
                        </a>
                        <small>
                            <a href="/user/{{ project.user.id }}">
                                <span class="label label-primary"> {{ project.user.userName }} </span>
                            </a>
                        </small>
                    </h4>
                </div>
                <div class="col-sm-3">
                    <div class="input-group pull-right" style="max-width: 15rem">
                        <span class="input-group-btn" ng-if="!isMyOwnPost(user, project)">
                            <button type="button"
                                    data-toggle="{{!isAuthenticated ? 'tooltip' : ''"
                                    title="Login to vote"
                                    ng-class="['btn', 'btn-success', 'btn-sm', { 'active': hasVoted(user, project, 'up'), 'disabled': hasVoted(user, project, 'up')}]"
                                    ng-click="vote(project.id, 'up')"
                                    ng-disabled="!isAuthenticated">
                                +
                            </button>
                        </span>
                        <input type="text"
                               data-toggle="{{isMyOwnPost(user, project) ? 'tooltip' : ''"
                               title="Cannot vote for your own project"
                               class="form-control text-center input-sm"
                               placeholder="Vote"
                               ng-value="votesIntegerValue(project.votes)" disabled/>
                        <span class="input-group-btn" ng-if="!isMyOwnPost(user, project)">
                            <button type="button"
                                    data-toggle="{{!isAuthenticated ? 'tooltip' : ''"
                                    title="Login to vote"
                                    ng-class="['btn', 'btn-danger', 'btn-sm', { 'active': hasVoted(user, project, 'down'), 'disabled': hasVoted(user, project, 'down')}]"
                                    ng-click="vote(project.id, 'down')"
                                    ng-disabled="!isAuthenticated">
                                -
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body preserve-linebreak" ng-bind="markdownToTxt(project.description)"></div>
        <div class="panel-footer">
            <span class="label label-default" ng-repeat="item in project.projectCategoryRelationships">{{item.category.name}}</span>
        </div>
    </div>

    @await Html.PartialAsync("Spinner")
    
    <div class="alert alert-warning" ng-if="!projects.length && initialized">
        <p>
            Did not find any project matching the criterias.
        </p>
    </div>

    <div class="text-center" ng-if="availablePages.length > 1">
        <ul class="pagination">
            <li ng-class="{ active: query.page === page }" ng-repeat="page in availablePages">
                <a href="#" ng-click="goToPage(page)">{{page}}</a>
            </li>
        </ul>
    </div>
</div>