@using static Models.Constants.ApplicationConstants;

@{
    Layout = "_Layout";
}

<h3>
    @ApplicationName
    <sub></sub>
</h3>

<div ng-controller="boardCtrl">
    
</div>

<p>
    Idea foundry for the future.
</p>