@using static Models.Constants.ApplicationConstants;

@{
    Layout = "_Layout";
}


<div ng-controller="boardCtrl" class="container">

    <div class="page-header">
        <h3> @ApplicationName </h3>
        <p> Idea foundry for the future. Share you side project, get noticed! </p>
        
        @if (!User.Identity.IsAuthenticated)
        {
            <p> You need to <a href="~/Account/Login">login</a> to vote or comment </p>
        }
    </div>

    <div class="margin-bottom">
        <form class="form-inline">
            <div class="form-group">
                <label for="sort">SortBy:</label>
                <select id="sort" class="form-control"
                        ng-change="refresh()"
                        ng-model="query.sort"
                        ng-options="item for item in ['Date', 'Vote']">
                </select>
            </div>
            <div class="form-group">
                <label for="order">Order:</label>
                <select id="order" class="form-control"
                        ng-change="refresh()"
                        ng-model="query.order"
                        ng-options="item for item in ['Descending', 'Ascending']">
                </select>
            </div>
            <div class="form-group">
                <label for="order">Categories:</label>
                <div class="input-group">
                    <select id="category" class="form-control"
                            ng-change="refresh()"
                            ng-model="query.category"
                            ng-options="item for item in categories">
                    </select>
                    <div class="input-group-btn" ng-show="query.category">
                        <button class="btn btn-danger" ng-click="query.category = ''; refresh();">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="order">Keyword:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="keyword" maxlength="10" ng-model="query.keyword" ng-change="refresh()" ng-model-options="{ debounce: 1000 }"/>
                    <div class="input-group-btn" ng-show="query.keyword">
                        <button class="btn btn-danger" ng-click="query.keyword = ''; refresh();">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="panel panel-default" ng-repeat="project in projects">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-9">
                    <h4>
                        <a href="/project/{{project.id}}">
                            <strong>
                                {{project.title}}
                            </strong>
                        </a>
                        <small>
                            <a href="/user/{{ project.user.id }}">
                                <span class="label label-primary"> {{ project.user.userName }} </span>
                            </a>
                        </small>

                        <small>
                            <span class="label label-default disabled"> {{moment(project.createdOn).format('MMMM Do YYYY, h:mm a')}} </span>
                        </small>
                    </h4>
                </div>
                <div class="col-sm-3">
                    <div class="input-group pull-right" style="max-width: 15rem">
                        <span class="input-group-btn" ng-if="!isMyOwnPost(user, project)">
                            <button type="button"
                                    tool-tip
                                    tool-tip-condition="{{ !isAuthenticated }}"
                                    tool-tip-message="Please login to vote"
                                    ng-class="['btn', { 'btn-success': !hasVoted(user, project, 'up'), 'btn-default': hasVoted(user, project, 'up') }, 'btn-sm', { 'active': hasVoted(user, project, 'up'), 'disabled': hasVoted(user, project, 'up')}]"
                                    ng-click="vote(project.id, 'up')"
                                    ng-disabled="!isAuthenticated">
                                +
                            </button>
                        </span>
                        <input type="text"
                               tool-tip
                               tool-tip-condition="{{ isMyOwnPost(user, project) }}"
                               tool-tip-message="Cannot vote for your own project"
                               class="form-control text-center input-sm"
                               placeholder="Vote"
                               ng-value="votesIntegerValue(project.votes)" disabled/>
                        <span class="input-group-btn" ng-if="!isMyOwnPost(user, project)">
                            <button type="button"
                                    tool-tip
                                    tool-tip-condition="{{ !isAuthenticated }}"
                                    tool-tip-message="Please login to vote"
                                    ng-class="['btn', { 'btn-danger': !hasVoted(user, project, 'down'), 'btn-default': hasVoted(user, project, 'down') }, 'btn-sm', { 'active': hasVoted(user, project, 'down'), 'disabled': hasVoted(user, project, 'down')}]"
                                    ng-click="vote(project.id, 'down')"
                                    ng-disabled="!isAuthenticated">
                                -
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body preserve-linebreak" ng-bind="markdownToTxt(project.description)"></div>
        <div class="panel-footer" ng-show="project.projectCategoryRelationships.length">
            <span class="label label-default" ng-repeat="item in project.projectCategoryRelationships">{{item.category.name}}</span>
        </div>
    </div>

    @await Html.PartialAsync("Spinner")

    <div class="alert alert-warning" ng-if="!projects.length && initialized">
        <p>
            Did not find any project matching the criterias.
        </p>
    </div>

    <div class="text-center" ng-if="availablePages.length > 1">
        <ul class="pagination">
            <li ng-class="{ active: query.page === page }" ng-repeat="page in availablePages">
                <a href="#" ng-click="goToPage(page)">{{page}}</a>
            </li>
        </ul>
    </div>
</div>