@using static Models.Constants.ApplicationConstants;

@{
    Layout = "_Layout";
}

<h3>
    @ApplicationName
    <sub></sub>
</h3>

<div ng-controller="boardCtrl">

    <p>
        Idea foundry for the future.
    </p>

    <form class="form-inline">
        <div class="form-group">
            <label for="sort">SortBy:</label>
            <select id="sort" class="form-control" ng-model="$scope.query.sort" ng-options="item for item in ['Date', 'Vote']"></select>
        </div>

        <div class="form-group">
            <label for="sort">Order:</label>
            <select id="order" class="form-control" ng-model="$scope.query.order" ng-options="item for item in ['Descending', 'Ascending']"></select>
        </div>
    </form>
    
    <div class="panel panel-default" ng-repeat="project in projects">
      <div class="panel-heading">{{project.title}}</div>
      <div class="panel-body">{{project.description}}</div>
    </div>

    <ul class="pagination">
        <li ng-repeat="page in availablePages">
            <a href="#">{{page}}</a>
        </li>
    </ul>
    
    {{ board.projects.length }}
</div>