@model Models.Entities.Project

@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
}

<div class="container" ng-controller="viewProjectCtrl">
    <div ng-if="project">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-9">
                        <h4>
                            <strong>
                                {{project.title}}
                            </strong>
                            <small>
                                <a href="/user/{{ project.user.id }}">
                                    <span class="label label-primary"> {{ project.user.userName }} </span>
                                </a>
                            </small>
                        </h4>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group pull-right" style="max-width: 15rem">
                            <span class="input-group-btn" ng-if="!isMyOwnPost(user, project)">
                                <button type="button"
                                        data-toggle="{{!isAuthenticated ? 'tooltip' : ''"
                                        title="Login to vote"
                                        ng-class="['btn', 'btn-success', 'btn-sm', { 'active': hasVoted(user, project, 'up'), 'disabled': hasVoted(user, project, 'up')}]"
                                        ng-click="vote(project.id, 'up')"
                                        ng-disabled="!isAuthenticated">
                                    +
                                </button>
                            </span>
                            <input type="text"
                                   class="form-control text-center input-sm"
                                   placeholder="Vote"
                                   data-toggle="{{isMyOwnPost(user, project) ? 'tooltip' : ''"
                                   title="Cannot vote for your own project"
                                   ng-value="votesIntegerValue(project.votes)" disabled/>
                            <span class="input-group-btn" ng-if="!isMyOwnPost(user, project)">
                                <button type="button"
                                        data-toggle="{{!isAuthenticated ? 'tooltip' : ''"
                                        title="Login to vote"
                                        ng-class="['btn', 'btn-danger', 'btn-sm', { 'active': hasVoted(user, project, 'down'), 'disabled': hasVoted(user, project, 'down')}]"
                                        ng-click="vote(project.id, 'down')"
                                        ng-disabled="!isAuthenticated">
                                    -
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body" ng-bind-html="marked(project.description)"></div>
            <div class="panel-footer">
                <span class="label label-default" ng-repeat="item in project.projectCategoryRelationships">{{item.category.name}}</span>
            </div>
        </div>

        <div class="panel panel-default" ng-repeat="comment in project.comments">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-9">
                        <a href="/user/{{ comment.user.id }}">{{ project.user.userName }}</a> on {{moment(comment.createdOn).format('MMMM Do YYYY, h:mm:ss a')}}
                    </div>
                    <div class="col-sm-3" ng-if="isMyOwnComment(user, comment)">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-primary" ng-click="editComment(comment)">Edit</button>
                            <button type="button" class="btn btn-danger" ng-click="deleteComment(comment)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body"> {{ comment.text }} </div>
        </div>
    </div>

    <div ng-show="!loading && project && isAuthenticated" id="editCommentBlock">
        <div ng-class="['form-group', { 'has-error': hasError }]">
            <label for="comment" class="control-label">Comment:</label>
            <textarea class="form-control" rows="2" id="comment" ng-model="comment" ng-attr-has-error="hasError"></textarea>
            <span class="help-block" ng-if="hasError"> Comment block is empty or less than 15 characters long </span>
        </div>
        <button type="button" class="btn btn-default" ng-click="addComment()">Submit</button>
        <button type="button" class="btn btn-default" ng-click="clear()" ng-if="hasError || !newCommentMode">Clear</button>
    </div>

    <div class="alert alert-info" ng-if="!loading && !isAuthenticated">
        <p>
            Please login to be able to add a comment
        </p>
    </div>
    
    @await Html.PartialAsync("Spinner")
</div>