.img-responsive {
    margin: 0 auto;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

span.pre {
    display: inline;
    white-space: pre;
    unicode-bidi: embed;
    font-family: monospace;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.disabled {
    cursor: auto !important;
}

.full-width {
    width: 100%;
}

.markdown-preview {
    border: 1px solid darkgrey;
    min-height: 20rem;
    border-radius: 10px;
    padding: 4px;
}

.small {
    transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8); /* IE 9 */
    -webkit-transform: scale(0.8, 0.8); /* Safari and Chrome */
    -o-transform: scale(0.8, 0.8); /* Opera */
    -moz-transform: scale(0.8, 0.8); /* Firefox */
}

.preserve-linebreak {
    white-space: pre-wrap

}