.img-responsive {
    margin: 0 auto;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

span.pre {
    display: inline;
    white-space: pre;
    unicode-bidi: embed;
    font-family: monospace;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.disabled {
    cursor: auto !important;
}

.full-width {
    width: 100%;
}

.markdown-preview {
    border: 1px solid darkgrey;
    min-height: 21.5rem;
    border-radius: 10px;
    padding: 4px;
}

.small {
    transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8); /* IE 9 */
    -webkit-transform: scale(0.8, 0.8); /* Safari and Chrome */
    -o-transform: scale(0.8, 0.8); /* Opera */
    -moz-transform: scale(0.8, 0.8); /* Firefox */
}

.preserve-linebreak {
    white-space: pre-wrap
}

.navbar {
    border-radius: 0;
}

.panel-body {
    padding: 10px;
}

.label {
    margin-right: 0.5rem;
}

.form-inline .form-group {
    margin-right: 1.5rem;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.table-side-scroll {
    overflow-x: auto;
}