@{
    Layout = "_Layout";
}

<div class="container">
    <div class="page-header">
        <h3>Why yet another website?</h3>
        <p>
            I created this website to showcase my weekend projects, get feedback, and get motivated to work on other projects.
        </p>
    </div>

    <h4>
        Privacy
    </h4>

    <ul>
        <li> This website is <a href="https://github.com/amir734jj/side-project-exhibit">open source</a> so no monkey business </li>
        <li> Data on this site will NOT be sold to a third party </li>
        <li> There will never be any ads on this website </li>
        <li> This website is meant to be simple, not a yet another StackOverflow clone </li>
    </ul>

    <h4>
        Contact
    </h4>

    <ul>
        <li>
            <a href="mailto:admin@anahita.dev">Email</a>
        </li>
        <li>
            <a href="https://github.com/amir734jj">Github</a>
        </li>
    </ul>

</div>