    <div class="page-header">
        <h3>Introduce your Project</h3>
        <p>
            In the synopsis make sure to talk about:
        </p>
        <ul>
            <li> Why you decided to work on this project </li>
            <li> What problem it is solving </li>
            <li> Is this part of a larger effort </li>
            <li> Are you looking for collaborators as well </li>
            <li> Is it ready to use or its still in development phase </li>
        </ul>
    </div>