    <form ng-submit="saveChanges()">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" ng-model="title">
        </div>

        <div class="row">
            <div class="col-sm-12 margin-bottom">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="onEditor('bold')">
                        <i class="fa fa-bold" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="onEditor('italic')">
                        <i class="fa fa-italic" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="onEditor('underline')">
                        <i class="fa fa-underline" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="onEditor('horline')">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="onEditor('list')">
                        <i class="fa fa-list-ul" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="onEditor('list-2')">
                        <i class="fa fa-list-ol" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="onEditor('header')">
                        <i class="fa fa-header" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="onEditor('url')">
                        <i class="fa fa-paperclip" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="onEditor('img')">
                        <i class="fa fa-image" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="onEditor('code')">
                        <i class="fa fa-code" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="onEditor('quote')">
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="onEditor('strikethrough')">
                        <i class="fa fa-strikethrough" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="preview = !preview">
                        Toggle Preview
                    </button>
                </div>
            </div>
            <div ng-class="{ 'col-sm-6': preview, 'col-sm-12': !preview }">
                <div class="form-group">
                    <textarea id="mark-editor"
                        class="full-width form-control"
                        ng-change="textChange()" ng-model="editor.src"
                        rows="10"
                        placeholder="Just typing markdown here...">
                    </textarea>
                </div>
            </div>
            <div ng-class="{ 'col-sm-6': preview, 'hide': !preview }">
                <div id="parsed-content" ng-bind-html="editor.parsed" class="markdown-preview"></div>
            </div>
        </div>
        
        <tags-input ng-model="categories" use-strings="true" placeholder="Enter project categories">
            <auto-complete source="loadTags($query)"></auto-complete>
        </tags-input>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>