<form ng-submit="saveChanges($event)">
    <div ng-class="[ 'form-group', { 'has-error': titleError } ]">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" ng-model="title">
        <span class="help-block" ng-if="titleError"> At least 5 characters title is required </span>
    </div>

    <div class="row">
        <div class="col-sm-12 margin-bottom">
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="onEditor('bold')">
                    <i class="fa fa-bold" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-default" ng-click="onEditor('italic')">
                    <i class="fa fa-italic" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-default" ng-click="onEditor('underline')">
                    <i class="fa fa-underline" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-default" ng-click="onEditor('horline')">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-default" ng-click="onEditor('list')">
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-default" ng-click="onEditor('list-2')">
                    <i class="fa fa-list-ol" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-default" ng-click="onEditor('header')">
                    <i class="fa fa-header" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-default" ng-click="onEditor('url')">
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-default" ng-click="onEditor('img')">
                    <i class="fa fa-image" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-default" ng-click="onEditor('code')">
                    <i class="fa fa-code" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-default" ng-click="onEditor('quote')">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-default" ng-click="onEditor('strikethrough')">
                    <i class="fa fa-strikethrough" aria-hidden="true"></i>
                </button>
                <button type="button" ng-class="['btn', 'btn-default', { 'active': preview }]" ng-click="preview = !preview">
                    Toggle Preview
                </button>
            </div>
        </div>
        <div ng-class="{ 'col-sm-6': preview, 'col-sm-12': !preview }">
            <div ng-class="[ 'form-group', { 'has-error': descriptionError } ]">
                <textarea id="mark-editor"
                        class="full-width form-control"
                        ng-change="textChange()" ng-model="editor.src"
                        rows="10"
                        placeholder="Just typing markdown here...">
                    </textarea>
                <span class="help-block" ng-if="descriptionError"> At least 20 characters description is required </span>
            </div>
        </div>
        <div ng-class="{ 'col-sm-6': preview, 'hide': !preview }">
            <div id="parsed-content">
                <p class="project markdown-preview" ng-bind-html="editor.parsed"></p>
            </div>
        </div>
    </div>

    <div ng-class="[ 'form-group', { 'has-error': categoriesError } ]">
        <tags-input ng-model="categories" use-strings="true" placeholder="Enter project categories" tag-class="[ 'btn-default', 'custom-tag' ]">
            <auto-complete source="loadTags($query)"></auto-complete>
        </tags-input>

        <span class="help-block" ng-if="categoriesError"> At least one category is required </span>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>