@using Models.Enums
@using Logic.Extensions
@model List<Models.ViewModels.Api.ProjectViewModel>
@using Markdig

@{
    ViewBag.Title = "Projects";
    Layout = "_Layout";
}

<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-10">
                <h3> Your projects </h3>
                <p> View and manage your projects </p>
            </div>
            <div class="col-sm-2">
                <a href="~/Projects/Add" class="btn btn-primary pull-right"> Add Project </a>
            </div>
        </div>
    </div>

    @foreach (var project in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-10">
                        <h4>
                            <a href="~/Projects/Update/@(project.Id)">
                                <strong> @(project.Title) </strong>
                            </a>
                        </h4>
                    </div>
                    <div class="col-sm-2">
                        <div class="btn-group pull-right">
                            <h4>
                                <span class="label label-default">
                                    +@project.Votes.Count(x => x.Value == Vote.Up)
                                    /
                                    -@project.Votes.Count(x => x.Value == Vote.Down)
                                </span>
                                <a class="btn btn-danger btn-sm" href="~/Projects/Delete/@(project.Id)" validate-before-going data-message="Are you sure to delete this project?"> Delete </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body"> @Html.Raw(Markdown.ToHtml(project.Description.TakeNLines(15))) </div>
            <div class="panel-footer">
                @foreach (var category in project.Categories)
                {
                    <span class="label label-default">
                        @(category)
                    </span>
                }
            </div>
        </div>
    }

    @if (!Model.Any())
    {
        <div class="alert alert-warning">
            <p>
                You do not have any projects. Please add one so you can manage it in this page.
            </p>
        </div>
    }

</div>