@model Models.ViewModels.Identities.LoginViewModel

@{
    ViewBag.Title = "Update Project";
    Layout = "_Layout";
}

<div class="container">
    @await Html.PartialAsync("ProjectInfoGuide")

    <div ng-controller="updateProjectCtrl">
        <div ng-show="!loading">
            @await Html.PartialAsync("ProjectDetails")
        </div>

        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <div class="loader" ng-show="loading"></div>
            </div>
        </div>
    </div>
</div>